{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'style.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url(https://w0.peakpx.com/wallpaper/117/349/HD-wallpaper-music-neon-icon-violet-background-neon-symbols-music-creative-neon-icons-music-sign-music-signs-music-icon-music-icons-thumbnail.jpg);">

<h1 style="color: whitesmoke;margin-left: 30px;">Music MP3</h1>
<a href="{% url 'home' %}" class="btn btn-success" style="position: relative;bottom:50px;left: 250px;">HOME</a>
<div class="dropdown" style="position: relative;bottom:50px;left: 250px;">
  <button class="btn btn-success">Artist</button>
  <div class="dropdown-content">
    <a href="{% url 'artist' 'Arijit Singh' %}">Arjit Singh</a>
    <a href="{% url 'artist' 'Neha Kakkar' %}">Neha Kakkar</a>
    <a href="{% url 'artist' 'Jubin Nautiyal' %}">Jubin Nautiyal</a>
  </div>
</div>
  
{% block content %}

{% endblock %}

    
  </body>

  </html>